/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:960px;
  
}
#carousel {
  height:380px;
  width:100%;
  /*background-color:#CCC;*/
  /*border: 1px solid red !important;*/
  
  padding-bottom: 450px;  
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
  width: 100%;
  height: 400px !important;
  
}
.carousel-feature {
  position:absolute;
  width: 80%;
  cursor:pointer;
}

.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  left: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  width:100%;
  padding-left: 15%;
  padding-right: 20%;
  background-color: #24A6DB;


}
.carousel-feature .carousel-caption h1{
   
  text-align: left;
}
.carousel-feature .carousel-caption .post_date{
   color: white;
}
.carousel-feature .carousel-caption h1 a{
  font-size: 38px;
  color: white;
  font-weight: bold;
  display: block;
  transition: all 0.5s;
}
.carousel-feature .carousel-caption h1 a:hover{
  color: #FF6600;
}
#more{
  color: #FF6600; 
  font-weight: bold; 
  letter-spacing: 5px; 
  font-size: 15px; 
  display: block;
  transition: all 0.5s;
}
#more:hover{
color: white;
}
.carousel-feature .carousel-caption p {
 /* margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;*/
  /*border: 2px solid red;*/
  
  font-size:15px;
  

}

#listofCatPrice{
  list-style: none;
  position: absolute;
  bottom: 0%;
  margin-bottom: -5px;
  right: 5%;
}
#listofCatPrice li{
 list-style: none;
 padding: 5px 5px;
 background-color: #26BDF7;
 color: white;
 /*border: 1px solid red;*/
}
#listofCatPrice li a{
  color: white;
}

.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
  display: none;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  /*right:48px;
  top:210px;*/
  left: 40%;
  bottom: -10%;
  border-radius: 10px;
  background-color: #25ADDA;
  padding:0;
  margin:0;
 
}
.tracker-individual-container li {
  list-style:none;
  
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  /*color:white;*/
  text-align:center;
  color: #DDDDDD;
  
}
.tracker-individual-container .tracker-individual-blip-selected {
  /*color:white;*/
  color: #15627B;
  font-weight:bold;
  font-size: 13px;
  /*background-color:#000;*/
}
#carousel-left {
  /*position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;*/
}
#carousel-right {
 /* position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;*/
}

#but_prev , #but_next{
  font-size: 90px;
  color: white;
  opacity: 0.6;
  padding: 0 15px;
  
}

#but_prev:hover , #but_next:hover{
  opacity: 0.8;
}

#but_prev{
  position: absolute;
  top: 40%;
  left: -5%;
}

#but_next{
  position: absolute;
  top: 40%;
  right: -5%;
}



/*Mobile Side*/
  @media (max-width: 768px) {

          #carousel {
          height:280px !important;
          width:100%;
          padding-bottom: 0px !important;  
          
          /*background-color:#CCC;*/
          margin: 0 !important;
          padding: 0 !important;
        }
        .carousel-image {
         /* border:0;
          display:block;
          width: 100%;
          border: 2px solid blue;*/
          
          margin: 0 !important;
          padding: 0 !important;
          overflow-x: hidden !important;
          overflow: hidden !important;
          width: 100% !important;
          margin: 0 !important;
          padding: 0 !important;
        }
        .carousel-feature {
          height: 200px !important;
          overflow-x: hidden !important;
          overflow: hidden !important;
          margin: 0 !important;
          padding: 0 !important;
          /*position:absolute;
          width: 60%;
          cursor:pointer;
          border: 2px solid green;*/
          
        }
        .tracker-individual-container {
            position:absolute;
            color:white;
            /*right:48px;
            top:210px;*/
            left: 20% !important;
            bottom: -20% !important;
            
            padding:0;
            margin:0;
 
     } 
     .carousel-feature .carousel-caption {
        
      }
     .carousel-feature .carousel-caption p {
      display: none !important;
     }
     #listofCatPrice
     {
      display: none;
     }
     #more{
      display: inline !important;
      font-size: 12px !important;
     }
     .carousel-feature .carousel-caption h1 a{
      font-size: 20px !important;
     }

     /* Next Previous */
     #but_prev , #but_next{
      font-size: 30px !important;
      color: white;
      opacity: 0.8;

    }

    #but_prev:hover , #but_next:hover{
      opacity: 1;
    }

    #but_prev{
      position: absolute;
      top: 40%;
      left: 0% !important;
    }

    #but_next{
      position: absolute;
      top: 40%;
      right: 0% !important;
    }

  } /* End of Media */